# **ANÁLISIS EXPLORATORIO Y PREPROCESAMIENTO DE LOS DATOS**

<p align=justify> Este notebook tiene como propósito entender cada uno de los archivos <i>.csv </i> suministrados por la competencia de kaggle <b>"Predict Future Sales"</b>, y de igual manera realizar algún tipo de preprocesamiento en los datos que a consideración del autor así lo requiera.

Los archivos *.csv* simunistrados son:

1. item_categories.csv
2. items.csv
3. shops.csv
4. sample_submission.csv
5. sales_train.csv
6. test.csv

<p align=justify> A continuación se procederá a explicar cada uno de los archivos y  el correspondiente ajuste realizado para cada uno de ellos, así como los paquetes necesarios para dichas modificaciones.

## **CARGAR LOS DATOS E IMPORTAR LOS PAQUETES NECESARIOS**

Para tener acceso a los archivos mencionados anteriormente, se procedió a realizar un enlace con Google drive …

In [2]:
!git clone https://github.com/Alberto7526/MonografiaGithub.git

Cloning into 'MonografiaGithub'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 12 (delta 1), reused 12 (delta 1), pack-reused 0
Unpacking objects: 100% (12/12), done.

Una vez se tiene acceso a la carpeta de googledrive que contiene los archivos, se procede a importar los archivos haciendo uso de la librería de pandas, para traba blblblb

In [ ]:
pip install google_trans_new

Collecting google_trans_new
  Downloading https://files.pythonhosted.org/packages/f9/7b/9f136106dc5824dc98185c97991d3cd9b53e70a197154dd49f7b899128f6/google_trans_new-1.1.9-py3-none-any.whl
Installing collected packages: google-trans-new
Successfully installed google-trans-new-1.1.9

In [5]:
import numpy as np 
import pandas as pd
#from google_trans_new import google_translator
#translator = google_translator()

## **1. item_categories.csv**

<p aling = justify> Este archivo presenta una relación entre los nombres de cada unos de los productos que se ofrecen y su correspondiente ID (número entero), como se puede ver al momento de crear el dataframe denominado <b>item_categories</b> con el archivo .csv, Se observa que el idioma se encuentra en  <i>RUSO</i> por facilidad se procedío a realizar su traducción al idioma español, haciendo uso de la libreria <b><i>google_trans_new</i></b> y empleando la función <b><i>trans_es</i></b>, la cual recibe un <i>String</i> y devuelve el mismo <i>String</i> pero traducido al idioma español.

Data frame original

In [6]:
# Creación del data frame item_categories

item_categories = pd.read_csv('MonografiaGithub/Datasets/item_categories.csv')
item_categories

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

Se define la función **trans_es** y traduce de la serie **.item_category_name** con ayuda de la función map de pandas

In [ ]:
def trans_es(x):
   return translator.translate(x,lang_tgt='es')

In [ ]:
item_categories['item_category_name'] = item_categories['item_category_name'].map(trans_es)
item_categories

google_new_transError: ignored

Luego de realizar la traduccion del dataframe se procede a verificar si existen valores nullos en los datos como se puede ver a continuación:

In [ ]:
item_categories.isnull().values.sum()

0

Como se puede observar no se encuentran valores nulos, por tanto no se realiza ninguna otra acción sobre el dataframe

## **2.items.csv** 

Este...

In [ ]:
items = pd.read_csv('drive/MyDrive/Proyecto/items.csv')
items.item_name = items.item_name.map(trans_es)
items

google_new_transError: ignored

In [ ]:
df = pd.read_csv('drive/MyDrive/Proyecto/sales_train.csv')
df.head(10)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
5  10.01.2013               0       25     2564      349.00           1.0
6  02.01.2013               0       25     2565      549.00           1.0
7  04.01.2013               0       25     2572      239.00           1.0
8  11.01.2013               0       25     2572      299.00           1.0
9  03.01.2013               0       25     2573      299.00           3.0

In [ ]:
df = pd.read_csv('drive/MyDrive/Proyecto/sample_submission.csv')
df

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
...        ...             ...
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]

In [ ]:
df = pd.read_csv('drive/MyDrive/Proyecto/shops.csv')
df

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

In [ ]:
df = pd.read_csv('drive/MyDrive/Proyecto/test.csv')
df

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]